@{
    ViewData["Title"] = "Inicio";    

}
<div class="categories">
    <div class="container">
        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab1">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-mobile"></i></div>
                        <h4 class="clrchg">Comunicaciones</h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab2">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-car"></i></div>
                        <h4 class="clrchg">Transporte</h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab3">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-shield"></i></div>
                        <h4 class="clrchg">Produccíon</h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab4">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-home"></i></div>
                        <h4 class="clrchg">Almacenes</h4>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab5">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-book"></i></div>
                        <h4 class="clrchg">Economía</h4>

                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab6">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-user"></i></div>
                        <h4 class="clrchg">Capital Humano</h4>
                    </div>
                </div>
            </a>
        </div>

        @*<div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab7">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                        <h4 class="clrchg">Energía</h4>
                    </div>
                </div>
            </a>
        </div>*@
        @*<div class="col-md-2 focus-grid">
            <a href="@Url.Action("Modulos", "Home")#parentVerticalTab2">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-laptop"></i></div>
                        <h4 class="clrchg"> Informática</h4>
                    </div>
                </div>
            </a>
        </div>*@

        @*<div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab9">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-gamepad"></i></div>
                        <h4 class="clrchg">Kids</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab10">
                <div class="focus-border">
                    <div class="focus-layout">
            <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                        <h4 class="clrchg">Bikes</h4>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab11">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-at"></i></div>
                        <h4 class="clrchg">Jobs</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2 focus-grid">
            <a href="categories.html#parentVerticalTab12">
                <div class="focus-border">
                    <div class="focus-layout">
                        <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                        <h4 class="clrchg">Furnitures</h4>
                    </div>
                </div>
            </a>
        </div>*@
        <div class="clearfix"></div>
    </div>
</div>
@*<div>Usted es el visitante: @ViewBag.visitantes</div>*@
